@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-background: #0D0B1A;
  --color-custom-bg: #0D0B1A;
  --color-custom-card: #1A1730;
  --color-surface: #121028;
  --color-surface-container-low: #1b1931;
  --color-surface-container: #1f1d35;
  --color-surface-container-high: #292740;
  --color-surface-container-highest: #34324b;
  --color-primary-container: #4c3bcf;
  --color-on-primary-container: #e4dfff;
  --color-secondary-container: #4322c2;
  --color-on-secondary-container: #b6abff;
  --color-tertiary: #49e095;
  --color-on-tertiary: #003920;
  --color-tertiary-container: #00633b;
  --color-on-tertiary-container: #50e599;
  --color-error: #ff5c7c;
  --color-error-container: #93000a;
  --color-on-surface: #e4dfff;
  --color-on-surface-variant: #c8c4d7;
  --color-outline: #2e2a4d;
  --color-outline-variant: #474554;
  --color-primary: #c5c0ff;
  --color-secondary: #c8bfff;
  --color-accent-green: #3dd68c;
  --color-accent-red: #ff5c7c;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

