MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=rif_stages
MYSQL_PORT=3306

MAILTRAP_TOKEN=votre_vrai_token_ici

MAIL_FROM_ADDRESS=noreply@rifstages.tn
MAIL_FROM_NAME="RIF Stages Platform"